[submodule "extlib/growt"]
	path = extlib/growt
	url = https://github.com/TooBiased/growt.git
[submodule "extlib/tlx"]
	path = extlib/tlx
	url = https://github.com/tlx/tlx.git
[submodule "extlib/googletest"]
	path = extlib/googletest
	url = https://github.com/google/googletest.git
